.DS_Store
.DS_Store?
Thumbs.db
.idea
npm-debug.log
compilation-stats.json
._.DS_Store
.ftpquota
error_log
dbbackup/
doc/
node_modules/
godaddy/
log/
Capfile
config/deploy/
config/deploy.rb
upload/
/temp.js
dbdata
tmp
*.mongodb.js